{% extends "base.html" %}

{% block content %}
<h1><a href="{% url 'file-data' file.id %}">{{ filename }}</a></h1>
<form method="POST" action="">
    <input type="hidden" name="active" value="{{ active_headers|join:',' }}">
    {% csrf_token %}
    {% for header in headers %}
        <input
            type="submit"
            name="activate"
            value="{{ header }}"
            {% if header in active_headers %}class="active"{% endif %}
        >
    {% endfor %}
    
    {{ filedata|safe }}
</form>
{% endblock %}
